@page "/placeholder"
@using BlazorWasm.Data
@using BlazorWasm.Services
@inject JsonPlaceholderHttpClient httpClient

<h3>Placeholder</h3>
<button class="btn btn-primary" @onclick="OnPhotoButtonClicked">Photo</button>
<hr />

@if (@photoDto != null)
{
    <Photos PhotoDto="@photoDto"></Photos>
}

@code {

    private PhotoDto photoDto;

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }

    private async void OnPhotoButtonClicked()
    {
        int randomId = (new Random()).Next(0, 5000);
        var response = await httpClient.GetPhoto(randomId);
        photoDto = new PhotoDto
        {
            Id = response.Id,
            Title = response.Title,
            ThumbImageUrl = response.ThumbnailUrl
        };
    }

}
