@page "/placeholder"
@using BlazorWasm.Data
@using BlazorWasm.Services
@inject JsonPlaceholderHttpClient httpClient

<h3>Placeholder</h3>

@if (@photoDto != null)
{
    <Photos PhotoDto="@photoDto"></Photos>
}

@code {

    private PhotoDto photoDto;

    protected override async Task OnInitializedAsync()
    {
        int randomId = (new Random()).Next(0, 5000);
        var response = await httpClient.GetPhoto(randomId);

        photoDto = new PhotoDto
        {
            Id = response.Id,
            Title = response.Title,
            ThumbImageUrl = response.ThumbnailUrl

        };

        //photoDto = new PhotoDto
        //{
        //    Id = 2,
        //    Title = "reprehenderit est deserunt velit ipsam",
        //    ThumbImageUrl = "https://via.placeholder.com/150/771796"
        //};
    }

}
